In [1]:
import pandas as pd

## Reading the data in pandas

In [2]:
weather = pd.read_csv("local_weather.csv", index_col="DATE")

In [3]:
weather

,STATION,NAME,ACMH,ACSH,AWND,DAPR,FMTM,FRGT,MDPR,PGTM,...,WT01,WT02,WT03,WT04,WT05,WT07,WT08,WT09,WT16,WT18
DATE,,,,,,,,,,,,,,,,,,,,,
1960-01-01,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-02,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1960-01-03,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-04,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-05,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-18,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,13.42,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-19,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,19.24,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-20,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,8.72,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-21,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,10.51,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-22,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##  Preparing the data

In [4]:
weather.apply(pd.isnull).sum()/weather.shape[0]

STATION    0.000000
NAME       0.000000
ACMH       0.663558
ACSH       0.663558
AWND       0.507081
DAPR       0.999539
FMTM       0.873921
FRGT       0.999885
MDPR       0.999539
PGTM       0.509960
PRCP       0.016235
SNOW       0.344847
SNWD       0.337709
TAVG       0.882729
TMAX       0.000633
TMIN       0.000806
TSUN       0.933736
WDF1       0.663558
WDF2       0.507024
WDF5       0.512090
WDFG       0.754347
WSF1       0.663558
WSF2       0.506966
WSF5       0.512090
WSFG       0.754347
WT01       0.778008
WT02       0.980253
WT03       0.992516
WT04       0.999770
WT05       0.998330
WT07       0.999885
WT08       0.813817
WT09       0.999885
WT16       0.887450
WT18       0.999827
dtype: float64

In [5]:
core_weather = weather[["PRCP", "SNOW", "SNWD", "TMAX", "TMIN"]].copy()

In [6]:
core_weather.columns = ["precip", "snow", "snow_depth", "temp_max", "temp_min"]

In [7]:
core_weather

            precip  snow  snow_depth  temp_max  temp_min
DATE
1960-01-01     0.0   0.0         0.0      49.0      30.0
1960-01-02     0.0   0.0         0.0      49.0      29.0
1960-01-03     0.0   0.0         0.0      54.0      35.0
1960-01-04     0.0   0.0         0.0      54.0      36.0
1960-01-05     0.0   0.0         0.0      55.0      33.0
...            ...   ...         ...       ...       ...
2023-06-18     0.0   NaN         NaN      68.0      56.0
2023-06-19     0.0   NaN         NaN      69.0      54.0
2023-06-20     0.0   NaN         NaN      70.0      48.0
2023-06-21     0.0   NaN         NaN      67.0      51.0
2023-06-22     0.0   NaN         NaN      68.0      54.0

[17370 rows x 5 columns]