In [1]:
import pandas as pd

## Reading the data in pandas

In [2]:
weather = pd.read_csv("local_weather.csv", index_col="DATE")

In [3]:
weather

,STATION,NAME,ACMH,ACSH,AWND,DAPR,FMTM,FRGT,MDPR,PGTM,...,WT01,WT02,WT03,WT04,WT05,WT07,WT08,WT09,WT16,WT18
DATE,,,,,,,,,,,,,,,,,,,,,
1960-01-01,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-02,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1960-01-03,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-04,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-05,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-18,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,13.42,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-19,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,19.24,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-20,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,8.72,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-21,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,10.51,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-22,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##  Preparing the data

In [4]:
weather.apply(pd.isnull).sum()/weather.shape[0]

STATION    0.000000
NAME       0.000000
ACMH       0.663558
ACSH       0.663558
AWND       0.507081
DAPR       0.999539
FMTM       0.873921
FRGT       0.999885
MDPR       0.999539
PGTM       0.509960
PRCP       0.016235
SNOW       0.344847
SNWD       0.337709
TAVG       0.882729
TMAX       0.000633
TMIN       0.000806
TSUN       0.933736
WDF1       0.663558
WDF2       0.507024
WDF5       0.512090
WDFG       0.754347
WSF1       0.663558
WSF2       0.506966
WSF5       0.512090
WSFG       0.754347
WT01       0.778008
WT02       0.980253
WT03       0.992516
WT04       0.999770
WT05       0.998330
WT07       0.999885
WT08       0.813817
WT09       0.999885
WT16       0.887450
WT18       0.999827
dtype: float64

In [5]:
core_weather = weather[["PRCP", "SNOW", "SNWD", "TMAX", "TMIN"]].copy()

In [6]:
core_weather.columns = ["precip", "snow", "snow_depth", "temp_max", "temp_min"]

In [7]:
core_weather

            precip  snow  snow_depth  temp_max  temp_min
DATE
1960-01-01     0.0   0.0         0.0      49.0      30.0
1960-01-02     0.0   0.0         0.0      49.0      29.0
1960-01-03     0.0   0.0         0.0      54.0      35.0
1960-01-04     0.0   0.0         0.0      54.0      36.0
1960-01-05     0.0   0.0         0.0      55.0      33.0
...            ...   ...         ...       ...       ...
2023-06-18     0.0   NaN         NaN      68.0      56.0
2023-06-19     0.0   NaN         NaN      69.0      54.0
2023-06-20     0.0   NaN         NaN      70.0      48.0
2023-06-21     0.0   NaN         NaN      67.0      51.0
2023-06-22     0.0   NaN         NaN      68.0      54.0

[17370 rows x 5 columns]

## Filling the missing value

In [8]:
core_weather.apply(pd.isnull).sum()/core_weather.shape[0]

precip        0.016235
snow          0.344847
snow_depth    0.337709
temp_max      0.000633
temp_min      0.000806
dtype: float64

In [9]:
core_weather["snow"].value_counts()

snow
0.0    11379
1.0        1
Name: count, dtype: int64

In [10]:
del core_weather["snow"]

In [11]:
core_weather["snow_depth"].value_counts()

snow_depth
0.0    11504
Name: count, dtype: int64

In [12]:
del core_weather["snow_depth"]

In [13]:
core_weather[pd.isnull(core_weather["precip"])]

            precip  temp_max  temp_min
DATE
1983-10-29     NaN      67.0      57.0
1983-10-30     NaN      70.0      63.0
1983-10-31     NaN      69.0      61.0
1983-11-12     NaN      63.0      55.0
1983-11-13     NaN      60.0      50.0
...            ...       ...       ...
2016-05-01     NaN      80.0      55.0
2016-05-02     NaN      68.0      53.0
2016-05-08     NaN      67.0      56.0
2017-10-28     NaN      68.0      50.0
2023-03-29     NaN      52.0      43.0

[282 rows x 3 columns]

In [14]:
core_weather.loc["1983-10-20":"1983-11-05",:]

            precip  temp_max  temp_min
DATE
1983-10-20    0.00      73.0      52.0
1983-10-21    0.00      70.0      50.0
1983-10-22    0.00      70.0      50.0
1983-10-23    0.00      69.0      60.0
1983-10-24    0.00      73.0      58.0
1983-10-25    0.00      75.0      53.0
1983-10-26    0.00      79.0      53.0
1983-10-27    0.00      82.0      56.0
1983-10-28    0.00      74.0      56.0
1983-10-29     NaN      67.0      57.0
1983-10-30     NaN      70.0      63.0
1983-10-31     NaN      69.0      61.0
1983-11-01    0.26      69.0      60.0
1983-11-02    0.06      68.0      56.0
1983-11-03    0.00      68.0      56.0
1983-11-04    0.00      67.0      55.0
1983-11-05    0.00      66.0      51.0

In [15]:
core_weather["precip"].value_counts()

precip
0.00    14093
0.01      443
0.02      202
0.03      124
0.04      105
        ...
1.05        1
1.38        1
1.95        1
2.01        1
1.28        1
Name: count, Length: 179, dtype: int64

In [16]:
core_weather["precip"] =  core_weather["precip"].fillna(0)

In [17]:
core_weather[pd.isnull(core_weather["temp_min"])]

            precip  temp_max  temp_min
DATE
2004-11-20     0.0       NaN       NaN
2011-12-21     0.0      61.0       NaN
2011-12-22     0.0      62.0       NaN
2011-12-23     0.0      56.0       NaN
2011-12-24     0.0      55.0       NaN
2011-12-25     0.0      54.0       NaN
2013-06-16     0.0       NaN       NaN
2020-08-29     0.0       NaN       NaN
2020-09-08     0.0       NaN       NaN
2020-09-09     0.0       NaN       NaN
2022-10-08     0.0       NaN       NaN
2022-10-09     0.0       NaN       NaN
2022-10-10     0.0      69.0       NaN
2022-10-11     0.0      66.0       NaN

In [18]:
core_weather = core_weather.fillna(method='ffill')

In [19]:
core_weather.apply(pd.isnull).sum()/core_weather.shape[0]

precip      0.0
temp_max    0.0
temp_min    0.0
dtype: float64

## Varifying the data types

In [20]:
core_weather.dtypes

precip      float64
temp_max    float64
temp_min    float64
dtype: object

In [21]:
core_weather.index

Index(['1960-01-01', '1960-01-02', '1960-01-03', '1960-01-04', '1960-01-05',
       '1960-01-06', '1960-01-07', '1960-01-08', '1960-01-09', '1960-01-10',
       ...
       '2023-06-13', '2023-06-14', '2023-06-15', '2023-06-16', '2023-06-17',
       '2023-06-18', '2023-06-19', '2023-06-20', '2023-06-21', '2023-06-22'],
      dtype='object', name='DATE', length=17370)

In [22]:
pd.to_datetime(core_weather.index)

DatetimeIndex(['1960-01-01', '1960-01-02', '1960-01-03', '1960-01-04',
               '1960-01-05', '1960-01-06', '1960-01-07', '1960-01-08',
               '1960-01-09', '1960-01-10',
               ...
               '2023-06-13', '2023-06-14', '2023-06-15', '2023-06-16',
               '2023-06-17', '2023-06-18', '2023-06-19', '2023-06-20',
               '2023-06-21', '2023-06-22'],
              dtype='datetime64[ns]', name='DATE', length=17370, freq=None)

In [23]:
core_weather.index

Index(['1960-01-01', '1960-01-02', '1960-01-03', '1960-01-04', '1960-01-05',
       '1960-01-06', '1960-01-07', '1960-01-08', '1960-01-09', '1960-01-10',
       ...
       '2023-06-13', '2023-06-14', '2023-06-15', '2023-06-16', '2023-06-17',
       '2023-06-18', '2023-06-19', '2023-06-20', '2023-06-21', '2023-06-22'],
      dtype='object', name='DATE', length=17370)

In [24]:
core_weather.apply(lambda x: (x==9999).sum())

precip      0
temp_max    0
temp_min    0
dtype: int64